<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="SzkicPP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup><applicationSettings>
        <SzkicPP.Properties.Settings>
            <setting name="SzkicFont" serializeAs="String">
                <value>Microsoft Sans Serif, 12pt, style=Bold</value>
            </setting>
            <setting name="SzkicColor" serializeAs="String">
                <value>Desktop</value>
            </setting>
            <setting name="PikietaFont" serializeAs="String">
                <value>Microsoft Sans Serif, 6.75pt, style=Italic</value>
            </setting>
            <setting name="PikietaColor" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="DefaultFont" serializeAs="String">
                <value>Microsoft Sans Serif, 9.75pt</value>
            </setting>
            <setting name="DefaultColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="FotoFont" serializeAs="String">
                <value>Microsoft Sans Serif, 11.25pt, style=Bold</value>
            </setting>
            <setting name="FotoColor" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="SzkicSize" serializeAs="String">
                <value>500, 300</value>
            </setting>
            <setting name="InvalidFont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt, style=Strikeout</value>
            </setting>
            <setting name="SkalowaniePikiet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PikietyWidth" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="BudynekColor" serializeAs="String">
                <value>192, 0, 0</value>
            </setting>
            <setting name="NazwaCieku" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NumerObiekt" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TypObiekt" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="NumerPunktu" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="KodPikiety" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="KodPokrycia" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="WspX" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="WspY" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="WspZ" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="DataPomiaru" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="Foto" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="ScaleHeight" serializeAs="String">
                <value>0.5</value>
            </setting>
        </SzkicPP.Properties.Settings>
    </applicationSettings>
</configuration>
